/* Google font Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #eaeaf0;
}

.banner-container {
  width: 100%;
  height: 250px;
}
.linkedin-banner {
  height: 100%;
  width: 100%;
}
.name {
  width: 90%;
  margin: 20px auto;
}

/* Main content container  */
.content {
  width: 90%;
  margin: 20px auto;
  display: flex;
}
/* ---Content left side--- */
.left {
  width: 30%;
  margin-right: 5%;
}
.profile-image {
  width: 100%;
  border-radius: 3px;
}
.linkedin-container,
.github-container {
  display: flex;
  text-align: center;
  align-items: center;
}
.link-text {
  margin: 0 0 0 5px;
  text-decoration: none;
  color: #000000;
}
.linkedin-logo,
.github-logo {
  width: 10%;
  margin: 10px 0 10px 0;
}
.cv {
  background-color: burlywood;
  padding: 5px;
  font-weight: bold;
}
#myCV-image {
  width: 100%;
  max-width: 500px;
  margin: 5px 0 5px 0;
}
#myCV-image {
  /* Style the Image Used to Trigger the Modal */
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
#myCV-image:hover {
  opacity: 0.6;
}
.modal {
  /* The Modal (background) */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* #000000 w/ opacity */
}
.modal-content {
  /* Modal Content (Image) */
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content, #caption {
  /* Add Animation - Zoom in the Modal */
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  /* The Close Button */
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px){
  /* 100% Image Width on Smaller Screens */
  .modal-content {
    width: 100%;
  }
}

/* ---Content right side--- */
.right {
  width: 70%;
}
.about-me,
.tech-stack,
.projects,
.hobbies {
  background-color: burlywood;
  padding: 5px;
  font-weight: bold;
}
.description {
  margin: 5px 0 5px 0;
  font-size: 20px;
}
.stack-images {
  margin: 5px 0 5px 0;
  width: 100%;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15%;
  margin: 5px 0 5px 0;
}
.card {
  height: 260px;
  border-radius: 2px;
  margin-top: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.image-container {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 2px 2px 0 0;
}
.project-image {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.image-container:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.image-container:hover .image-text {
  padding: 8px 10px;
  visibility: visible;
  opacity: 0.9;
  filter: brightness(100%);
}
.image-text {
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background: #000000;
  color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.6s ease-in-out;
  transition: visibility 0s, opacity 0.6s ease-in-out;
}
.repo-link {
  text-decoration: none;
  color: #000000;
}
.repository-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  border-radius: 0 0 2px 2px;
}
.fontawesome-icon {
  height: 42px;
  width: 42px;
  margin-left: 20px;
}
.git-repo-link {
  text-decoration: none;
  margin-left: 20px;
  color: #000000;
}
.git-repo-link:hover {
  font-weight: bold;
}



/* ---Footer container--- */
.footer-container {
  background-color: burlywood;
  text-align: center;
}

/* ############################################################ */

/* Breakpoint for Phonescreen */
@media screen and (max-width: 480px) {
  .banner-container {
    height: 120px;
  }
  .name {
    font-size: 20px;
  }
  /* ---Content left side--- */
  .title {
    font-size: 16px;
    text-align: center;
  }
  .link-text {
    font-size: 10px;
  }
  .linkedin-logo,
  .github-logo {
    width: 12%;
  }
  .cv {
    font-size: 16px;
    padding: 2px;
  }
  /* ---Content right side--- */
  .about-me,
  .tech-stack,
  .projects,
  .hobbies {
    font-size: 16px;
    padding: 2px;
  }
  .description {
    font-size: 12px;
  }
  .projects-container {
    grid-gap: 6%;
    margin: 5px 0 5px 0;
  }
  .card {
    height: 100px;
    border-radius: 2px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .image-container {
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 2px 2px 0 0;
  }
  .project-image {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  .repo-link {
    text-decoration: none;
    color: #000000;
  }
  .repository-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    border-radius: 0 0 2px 2px;
  }
  .fontawesome-icon {
    height: 22px;
    width: 22px;
    margin-left: 5px;
  }
  .git-repo-link {
    text-decoration: none;
    margin-left: 5px;
    font-size: 8px;
    color: #000000;
  }
  .footer-container {
    margin-bottom: 0;
  }
  .footer {
    font-size: 16px;
  }
}
